<style>
body{
    background-color:lightgrey;
}
.pogo{
    border:5px solid rgba(122, 197, 51, 0);
    padding-bottom: 10px;
}
.parent1{
    display:flex;
}
.box1{
    border:5px solid red;
    background-color:white;
    border-radius: 20px;
    color:red;
    width:230px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:sans-serif;
    font-size:30px;
    box-shadow: 8px 8px 0px rgb(134 51 65);
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    text-shadow:1px 1px 0px black;
}
.box2{
    border:5px solid red;
    background-color:white;
    border-radius: 20px;
    color:brown;
    width:240px;
    height:200px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    font-size:25px;
    box-shadow: 8px 8px 0px rgb(134 51 65);
    font-family: 'Times New Roman', Times, serif;
    text-shadow:1px 1px 0px black;
}
.box3{
    border:5px solid red;
    background-color:white;
    border-radius: 20px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    width:240px;
    margin-left:43% ;
    image-resolution:20px;
    box-shadow: 8px 8px 0px rgb(134 51 65);
    font-family: 'Times New Roman', Times, serif;
    text-shadow:1px 1px 0px black;
}
img{
    position:relative;
}
.parent2{
    display:flex;
}
.box4{
    border:5px solid red;
    background-color:white;
    border-radius: 20px;
    color:brown;
    width: 260px;
    padding-right: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    font-family:sans-serif;
    font-size:25px;
    margin-top: 70px;
    box-shadow: 8px 8px 0px rgb(134 51 65);
    font-family: 'Times New Roman', Times, serif;
    text-shadow:1px 1px 0px black;
}
.box5{
    border:5px solid red;
    background-color:white;
    border-radius: 20px;
    color:brown;
    margin-left:44% ;
    margin-top: 70px;
    padding-left: 40px;
    padding-right: 40px;
    padding-top: 20px;
    padding-bottom: 10px;
    width:240px;
    font-family:sans-serif;
    font-size:25px;
    align-items: center;
    box-shadow: 8px 8px 0px rgb(134 51 65);
    font-family: 'Times New Roman', Times, serif;
    text-shadow:1px 1px 0px black;
}
.parent3{
    border:5px solid rgb(95, 6, 95);
    margin-top: 30px;
    background-color: rgb(223, 241, 223);
    width:710px;
    
}
.root1{
    display:flex;
    text-align: center;
}
.box6{
    border:1px solid black;
    background-color:rgba(241, 241, 23, 0.945);
    color:black;
    width:350px;
    height:250px;
    font-style: italic;
}
.box7{
    border:1px solid black;
    background-color:rgba(241, 241, 23, 0.945);
    color:black;
    width:350px;
    height:250px;
    margin-left:10px;
    font-style: italic;
}
.box8{
    border:1px solid black;
    background-color:rgba(241, 241, 23, 0.945);
    color:black;
    width:710px;
    height:250px;
    margin-top:10px;
    margin-bottom: 10px;
    font-style: italic;
}
.advert{
    border:5px solid burlywood;
    border-radius: 20px;
    background-color: yellowgreen;
    color:black;
    position: fixed;
    width:380px;
    height:70px;
    margin-left:35%;
    font-style: italic;
    box-shadow: 8px 8px 0px rgb(134 51 65);
}
.ad1{
    display: inline-flex;
    margin-left:20px;
    padding-top: 5px;
}
.ad2{
    display:inline-flex;
    margin-left:20%
}
</style>